*

!.gitignore
!core/
!core/*
!core/*/
!core/*/build
!core/*/dependencies
!core/*/description
!core/*/post-install
!core/*/sources
!core/*/version
!core/*/files/
!core/*/files/*
!core/*/patches/
!core/*/patches/*

!xorg/
!xorg/*
!xorg/x7libs/packages
!xorg/llvm/packages
!xorg/x7apps/packages
!xorg/x7fonts/packages
!xorg/*/
!xorg/*/build
!xorg/*/dependencies
!xorg/*/description
!xorg/*/post-install
!xorg/*/sources
!xorg/*/version
!xorg/*/files/
!xorg/*/files/*
!xorg/*/patches/
!xorg/*/patches/*

!extra/
!extra/*
!extra/*/
!extra/*/build
!extra/*/dependencies
!extra/*/description
!extra/*/post-install
!extra/*/sources
!extra/*/version
!extra/*/files/
!extra/*/files/*
!extra/*/patches/
!extra/*/patches/*

